section {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
}

.content {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header {
    width: 100%;
    background-color: #FFF;
    height: auto;
}

.header-content {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 70px;
}

.header-content h1 {
    margin: 0;
}

.header-content .logo {
    color: #000000;
    font-weight: bold;
}

.header-user {
    width: 100%;
}

.header-user .user-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;
    height: 40px;
    max-width: 1200px;
    
}

.header-user .user-content ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: 14px;
}

.header-user .user-content ul li {
    padding: 2px 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 5px;
    height: 30px;
}

.header-user .user-content ul li:hover {
    background-color: #e0e0e0;
    transition: 0.5s;
}

.navbar {
    width: 100%;
    background-color: gray;
}

.navbar-content {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: auto;
    height: 40px;
    max-width: 1200px;
}

.navbar-content ul {
    display: flex;
    height: 40px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.navbar-content ul li {
    padding: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #FFF;
}

.navbar-content ul li:hover {
    color: #FFF;
    background-color: rgb(71, 71, 71);
    transition: 0.5s;
}

/* Productos destacados */
.destacados-list {
    display: flex;
    justify-content:left;
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
    width: 100%;
    padding: 15px 0px;
}

.destacado-box {
    flex:0;
    min-width: 300px;
    margin-right: 30px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
}

.destacado-box:hover {
    box-shadow: 0px 0px 10px black;
    transition: 0.5s;
}

.destacado-box .imagen {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0px 0px;
    background-color: #e0e0e0;
}

.destacado-box .imagen img{
    width: 100%;
    height: 300px;
    border-radius: 8px 8px 0px 0px;
}

.destacado-box .destacados-data {
    width: 300px;
    padding: 10px;
}

.destacados-data .nombre {
    font-weight: bold;
    font-size: 18px;
}

.destacados-data .descripcion {
    font-size: 16px;
}

/* Producto */
.producto-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

@media (max-width: 900px) {

    section {
        padding: 10px;
    }
}

.producto-box .producto-img {
    max-width: 600px;
}

.producto-box .producto-img img {
    max-width: 100%;
}

.producto-box .producto-info {
    max-width: 600px;
    padding: 10px 30px;
}

.producto-box .producto-descripcion {
    font-size: 20px;
}

.producto-precio {
    font-size: 40px;
}

.producto-precio .precio-inicial {
    color: black;
}

.precio-box .precio-descuento {
    font-size: 12px;
    color:red;
    margin-left: 10px;
    color:red;
    text-decoration:line-through;
}

.producto-box .producto-precio .precio-descuento {
    font-size: 30px;
    color:red;
    margin-left: 10px;
    color:red;
    text-decoration:line-through;
}

.producto-info .btn-add {
    float: left;
    padding: 20px;
    width: auto;
    height: auto;
    background-color: #e0e0e0;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.producto-info .btn-add:hover{
    background-color: gray;
}

@media (max-width: 600px) {
    .producto-precio {
        font-size: 30px;
    }
    
    .producto-precio .precio-inicial {
        color: black;
    }
    
    .producto-box .producto-precio .precio-descuento {
        font-size: 20px;
        color:red;
        margin-left: 10px;
    }
}


